body {
  font-family: Arial, sans-serif;
  /* background-color: #b3e5fc; */
  background-image: url('gradient_bgr.jpg'); /* Replace with your image path */
  background-size: cover; /* Make the image cover the entire page */
  background-position: center center; /* Center the image */
  background-attachment: fixed; /* Keep the image fixed while scrolling */
  color: #C901A1;
  margin: 0;
  padding: 0;
  padding-top: 50px;
  text-align: center;
}

h1, h2, h3 {
  color: #f57c00;
}

.section {
  display: inline-block;
  width: 30%;
  margin: 20px 1.5%;
  vertical-align: top;
}

.connect input, .connect textarea {
  display: block;
  width: 40%;
  margin: 10px auto;
  padding: 8px;
  border: 2px solid #f57c00;
  border-radius: 5px;
  font-size: 16px;
}

.connect button {
  background-color: #f57c00;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.connect button:hover {
  background-color: #e64a19;
}

.container {
    display: flex; /* Makes the divs display in a row */
    justify-content: space-between; /* Ensures even space between sections */
  }
  
  .content {
    padding: 5px 70px;
    margin: 5px auto;
    text-align: left; /* Centers the text inside each h1 */
  }

  /* Style for the second line of hyperlinks */
.link-line {
  display: block; /* Make the span take up the full line */
  padding-left: 20px; /* Add indentation on the second line */
}

/* Optional: Style the hyperlink */
a {
  color: #007bff; /* Set the color of the links */
  text-decoration: none; /* Remove underline */
}

a:hover {
  text-decoration: underline; /* Optional: Add underline on hover */
}
