body {
  font-family: Arial, sans-serif;
  background-color: #b3e5fc;
  color: #8e24aa;
  margin: 0;
  padding: 0;
  padding-top: 50px;
  text-align: center;
}

h1, h2, h3 {
  color: #f57c00;
}

.section {
  display: inline-block;
  width: 30%;
  margin: 20px 1.5%;
  vertical-align: top;
}

.connect input, .connect textarea {
  display: block;
  width: 40%;
  margin: 10px auto;
  padding: 8px;
  border: 2px solid #f57c00;
  border-radius: 5px;
  font-size: 16px;
}

.connect button {
  background-color: #f57c00;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.connect button:hover {
  background-color: #e64a19;
}

.container {
    display: flex; /* Makes the divs display in a row */
    justify-content: space-between; /* Ensures even space between sections */
  }
  
  .content {
    flex: 1; /* Ensures each section takes equal width */
    margin: 20px 1.5%;
    padding: 10px; /* Adds some padding inside the divs */
    text-align: left; /* Centers the text inside each h1 */
  }